// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html,
body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
   box-sizing: inherit;
}

/* Selection colors */
::selection,
::-webkit-selection {
   color: var(--selection-c);
   background-color: var(--selection-c-bg);
   text-shadow: none;
}

img::selection {
   background: transparent;
}

/* scrollbar
   credits: https://ishadeed.com/article/custom-scrollbars-css/ */
::-webkit-scrollbar {
   width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-c);
   border-radius: var(--br-m);
   // padding
   border: 2px solid transparent;
   background-clip: content-box;
}
::-webkit-scrollbar-track {
   background-color: var(--scrollbar-c-bg);
   border-radius: var(--br-m);
}

html {
   scrollbar-width: var(--scrollbar-width);
   scrollbar-color: var(--scrollbar-c) var(--scrollbar-c-bg);
}
