// -----------------------------------------------------------------------------
// This file defines colors for every theme
// -----------------------------------------------------------------------------
body {
   /* typography */
   --c-title: var(--gray-900); // headings and titles
   --c-subtitle: var(--gray-800); // subheadings and subtitles
   --c-text-primary: var(--gray-700); // copy text
   --c-text-secondary: var(--gray-500); // copy text secondary
   --c-text-placeholder: var(--gray-400); // copy text for inputs

   --c-title-invert: var(--gray-100);
   --c-subtitle-invert: var(--gray-200);
   --c-text-primary-invert: var(--gray-300);
   --c-text-secondary-invert: var(--gray-500);
   --c-text-placeholder-invert: var(--gray-600);

   --c-caption: var(--c--text-secondary); // caption and label text

   --c-link: var(--c-secondary);
   --c-link-hover: var(--c-primary-bg);
   --c-link-visited: var(--c-secondary-dark);

   /* border */
   --c-line: var(--gray-300);

   /* background */
   --c-bg0: var(--gray-50); // main background
   --c-bg: var(--gray-100);
   --c-input-bg: var(--gray-200);

   /* buttons */
   --c-btn-primary-bg: var(--c-primary);
   --c-btn-primary-hover: var(--c-primary-light);
   --c-btn-primary-active: var(--c-primary-dark);
   --c-btn-primary-label: var(--white);

   /* icons */
   --c-icon-primary: var(--gray-800);
   --c-icon-primary-invert: var(--gray-200);
   --c-icon-secondary: inherit;

   /* forms */
   --c-input-bg: var(--gray1); // input field background

   /* base */
   --selection-c: var(--c-secondary-bg);
   --selection-c-bg: var(--c-primary-light);
   --scrollbar-c: var(--c-primary);
   --scrollbar-c-bg: var(--gray-100);

   .light {
   }
   .dark {
   }
}
