// maybe import from google fonts here, or set @font-face declarations

$font-primary: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
   "Helvetica", "Arial", sans-serif !default;
$font-secondary: "serif" !default;
$font-code: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
   "Monaco", monospace !default;

body {
   font-family: $font-primary;
   font-weight: var(--medium);
   font-size: var(--text-body-size);
   line-height: var(--body-line-height);
   color: var(--c-text-primary);
   @if settings("use-font-smooth") {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}

h1,
h2,
h3,
h4,
form legend {
   margin-bottom: var(--space-xxs);
   line-height: var(--heading-line-height);
   color: var(--c-title);
}
.title {
   color: var(--c-text-title);
   line-height: var(--heading-line-height);
}
.subtitle {
   color: var(--c-text-subtitle);
}

/* text size and weight */
h1 {
   font-size: var(--text-h1-size);
   font-weight: var(--extraBold);
}
h2 {
   font-size: var(--text-h2-size);
   font-weight: var(--bold);
}
h3 {
   font-size: var(--text-h3-size);
   font-weight: var(--semiBold);
}
h4 {
   font-size: var(--text-h4-size);
   font-weight: var(--semiBold);
}

small,
caption,
.text-s {
   font-size: var(--text-caption-size);
   font-weight: var(--light);
}

.text-xs {
   font-size: var(--text-xs);
}

p {
   line-height: var(--body-line-height);
}

span {
   font-family: inherit;
}

b,
strong {
   font-weight: var(--bold);
   font-family: inherit;
}

/* paragraph spacings */
article {
   p {
      margin: var(--space-xs) 0;
      &:first-of-type {
         margin-top: var(--space-m);
      }
      &:last-of-type {
         margin-bottom: var(--space-l);
      }
   }
}
