// maybe import from google fonts here, or set @font-face declarations

$font-primary: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
   "Helvetica", "Arial", sans-serif !default;
$font-secondary: "serif" !default;
$font-code: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
   "Monaco", monospace !default;

/* text levels */

.text-6xl {
   // h1
   font-size: var(--h1-size);
   line-height: var(--h1-line-height);
   letter-spacing: var(--h1-letter-spacing);
   font-weight: var(--regular);
}
.text-5xl {
   // h2
   font-size: var(--h2-size);
   line-height: var(--h2-line-height);
   letter-spacing: var(--h2-letter-spacing);
   font-weight: var(--regular);
}
.text-4xl {
   // h3
   font-size: var(--h3-size);
   line-height: var(--h3-line-height);
   letter-spacing: var(--h3-letter-spacing);
   font-weight: var(--regular);
}
.text-3xl {
   // h4
   font-size: var(--h4-size);
   line-height: var(--h4-line-height);
   letter-spacing: var(--h4-letter-spacing);
   font-weight: var(--medium);
}
.text-xxl {
   // h5
   font-size: var(--h5-size);
   line-height: var(--h5-line-height);
   letter-spacing: var(--h5-letter-spacing);
   font-weight: var(--medium);
}
.text-xl {
   // h6 (title)
   font-size: var(--title-size);
   line-height: var(--title-line-height);
   letter-spacing: var(--title-letter-spacing);
   font-weight: var(--medium);
}
.text-l {
   // subtitle
   font-size: var(--subtitle-size);
   line-height: var(--subtitle-line-height);
   letter-spacing: var(--subtitle-letter-spacing);
   font-weight: var(--semiBold);
}
.text-m {
   // body
   font-size: var(--body-size);
   line-height: var(--body-line-height);
   letter-spacing: var(--body-letter-spacing);
   font-weight: var(--medium);
}
.text-s {
   // standard
   font-size: var(--standard-size);
   line-height: var(--standard-line-height);
   letter-spacing: var(--standard-letter-spacing);
   font-weight: var(--regular);
}
.text-xs {
   // caption (small)
   font-size: var(--caption-size);
   line-height: var(--caption-line-height);
   letter-spacing: var(--caption-letter-spacing);
   font-weight: var(--light);
}
.text-xxs {
   // overline (extrasmall)
   font-size: var(--overline-size);
   line-height: var(--overline-line-height);
   letter-spacing: var(--overline-letter-spacing);
   font-weight: var(--regular);
}

// display text
%text-display-base {
   font-size: calc(var(--h1-size) * var(--text-offset));
   line-height: calc(var(--h1-line-height) * var(--text-offset));
   letter-spacing: calc(var(--h1-letter-spacing) * var(--text-offset) * -1);
   font-weight: var(--heavy);
}

.text-XS {
   --text-offset: 1;
   @extend %text-display-base;
}
.text-S {
   --text-offset: 1.5;
   @extend %text-display-base;
}
.text-M {
   --text-offset: 2;
   @extend %text-display-base;
}
.text-L {
   --text-offset: 2.5;
   @extend %text-display-base;
}
.text-XL {
   --text-offset: 3;
   @extend %text-display-base;
}

/* base */

body {
   @extend .text-s; // standard
   font-family: $font-primary;
   color: var(--c-text-primary);
   @if settings("use-font-smooth") {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}
h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle,
form legend {
   margin-bottom: var(--space-xxs);
}
p,
.copy {
   font-family: $font-secondary;
}

h1 {
   @extend .text-6xl;
   color: var(--c-title);
}
h2 {
   @extend .text-5xl;
   color: var(--c-title);
}
h3 {
   @extend .text-4xl;
   color: var(--c-subtitle);
}
h4 {
   @extend .text-3xl;
   color: var(--c-subtitle);
}
h5 {
   @extend .text-xxl;
   color: var(--c-subtitle);
}
h6,
.title {
   @extend .text-xl;
   color: var(--c-title);
}
.subtitle {
   @extend .text-l;
   color: var(--c-subtitle);
}
p,
.copy {
   @extend .text-m;
   .primary {
      color: var(--c-text-primary);
   }
   .secondary {
      color: var(--c-text-secondary);
   }
}
small,
caption {
   @extend .text-xs;
   color: var(--c-caption);
}
.overline {
   @extend .text-xxs;
   color: var(--c-text-secondary);
   text-transform: uppercase;
}

span {
   font-family: inherit;
}
b,
strong {
   font-weight: var(--bold);
   font-family: inherit;
}
code {
   font-family: $font-code;
}
form legend {
   color: var(--c-text-primary);
}
blockquote {
   margin: var(--space-m) 0;
   padding-left: var(--space-m);
   border-left: 2px solid var(--c-secondary);
}

/* paragraph spacings */
article {
   p {
      margin: var(--space-xs) 0;
      &:first-of-type {
         margin-top: var(--space-m);
      }
      &:last-of-type {
         margin-bottom: var(--space-l);
      }
   }
}

/* on inverted background */
.invert {
   background-color: var(--c-bg-invert);
   color: var(--c-text-primary-invert);
   h1,
   h2 {
      color: var(--c-title-invert);
   }
   h3,
   h4,
   h5 {
      color: var(--c-subtitle-invert);
   }
   h6,
   .title {
      color: var(--c-title-invert);
   }
   .subtitle {
      color: var(--c-subtitle-invert);
   }
   p,
   .copy {
      .primary {
         color: var(--c-text-primary-invert);
      }
      .secondary {
         color: var(--c-text-secondary-invert);
      }
   }
   small,
   caption {
      color: var(--c-caption-invert);
   }
   .overline {
      color: var(--c-text-secondary-invert);
   }
   form,
   legend {
      color: var(--c-text-primary-invert);
   }
}
