.icon {
   display: inline-block;
   width: var(--icon-xs);
   height: auto;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}
.icon-s {
   @extend .icon;
   width: var(--icon-s);
}
.icon-m {
   @extend .icon;
   width: var(--icon-m);
}

/* on inverted background */
.invert {
   .icon {
      stroke: var(--c-icon-primary-invert);
      fill: var(--c-icon-primary-invert);
   }
}
