// basic link
a {
   color: var(--c-link);
   text-decoration: none;

   @include on-event {
      // color: var(--c-text-primary);
      text-decoration: underline;
   }

   &:hover,
   &:active {
      outline: 0;
   }

   &:visited {
      color: var(--c-link-visited);
   }
}
